body{
    background-color: cornflowerblue;
}

#btn_submit{
    margin-top: 20px;
    margin-bottom: 20px;
}

#btn_sort{
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}
#result{
    font-size: 30px;
    color: red;
}